datetime~=4.4
pathlib~=1.0.1
smbus2~=0.4.1
tabulate~=0.8.9
board~=1.0
pillow~=9.1.0
busio
adafruit-circuitpython-ssd1306
adafruit-blinka
bme280
pytz~=2022.1
httplib2~=0.20.4
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib